<div class="modal-header text-black" style="background-color: white; border-color: white;">
    <h3 class="modal-title" id="modal-title" style="color: gray !important;">{{ 'change_password' | translate }}</h3>
</div>
<div class="modal-body text-black" id="modal-body" style="background-color: #00a69c !important;">
    <form accept-charset="utf-8" class="form-horizontal" role="form" name="changePasswordForm">
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label" style="color: white !important;">{{ 'password' | translate }}</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" placeholder="{{ 'password' | translate }}" ng-model="formData.password" required style="color: black !important;">
                <ul ng-show="errors.password" class="text-red">
                    <li ng-repeat="error in errors.password">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="password-confirmation" class="col-sm-4 control-label" style="color: white !important;">{{ 'password_confirmation' | translate }}</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password-confirmation" placeholder="{{ 'password_confirmation' | translate }}" ng-model="formData.password_confirmation" required style="color: black !important;">
                <ul ng-show="errors.password_confirmation" class="text-red">
                    <li ng-repeat="error in errors.password_confirmation">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="form-group m-t-2 text-center">
            <button class="btn btn-primary custom-button-2" type="button" ng-disabled="!changePasswordForm.$valid || blockButtons" ng-click="changePasswordForm.$valid && !blockButtons && ok()">OK</button>
            <button class="btn btn-warning custom-button-2" type="button" ng-click="!blockButtons && cancel()">Cancel</button>
        </div>
    </form>
</div>