<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="bottom-white-line">{{ 'trips.next_month' | translate }}</h3>
    </div>
</div>
<div class="bootstrap snippet" style="padding-left: 130px;padding-right: 130px;">
    <div class="row">
      <ul class="notes">
        <li ng-repeat="trip in trips">
            <div class="{{ rotation() }} {{ color() }}">
                <small>
                  <p>{{ 'start_date' | translate }}: {{ date(trip.start_date) }}</p>
                  <p>{{ 'end_date' | translate }}: {{ date(trip.end_date) }}</p>
                </small>
                <h4 style="margin-top: 30px;">{{ trip.destination }}</h4>
                <p ng-if="trip.time_left">{{ trip.time_left }}</p>
                <p ng-if="trip.comment">{{ trip.comment }}</p>
            </div>
        </li>
    </ul>
  </div>
</div>
<!-- https://bootsnipp.com/snippets/MRjyj -->
