<div class="container bootstrap snippet">
    <div class="row">
        <ul class="notes">
            <li ng-repeat="trip in trips">
                <div ng-class="randomClass">
                    <small>{{ trip.start_date }} - {{ trip.end_date }}</small>
                    <h4>{{ trip.destination }}</h4>
                    <p>{{ 'days_from_now' | | translate:daysFromNow }}</p>
                    <a uib-tooltip="' + $translate.instant('edit') + '" ng-click="edit(trip)"><img src="images/svg/edit.svg"></a>
                </div>
            </li>
        </ul>
    </div>
</div>
